/*CSS (Cascading Style Sheets) — это код, предназначенный для стилизации веб-страницы*/
/*Как и HTML, CSS на самом деле не является языком программирования. Это не язык разметки - это язык таблицы стилей.Это означает, что он позволяет применять стили выборочно к элементам в документах HTML.*/
 p {   /*[Селектор (Selector)Имя HTML-элемента в начале набора правил. Он выбирает элемент(ы) для применения стиля (в данном случае, элементы p ). Для стилизации другого элемента, просто измените селектор.*/
    color: rgb(100, 125, 196); /*Объявление (Declaration) Единственное правило, например color: red; указывает, какие из свойств элемента вы хотите стилизовать.*/
} /*Способы, которыми вы можете стилизовать определённый HTML-элемент (в данном случае, color является свойством для элементов <p>). В CSS вы выбираете, какие свойства вы хотите затронуть в вашем правиле.*/
/*Значение свойства (Property value) Справа от свойства, после двоеточия, у нас есть значение свойства, которое выбирает одно из множества возможных признаков для данного свойства .*/
html {
    font-size: 20px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: Open Sans;
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
/*  width (ширина элемента)
    background-color, цвет позади контента и padding элементов
    color, цвет контента элемента (обычно текста)
    text-shadow: устанавливает тень на тексте внутри элемента
    display: устанавливает режим отображения элемента (пока что не волнуйтесь об этом)*/
    html {
        background-color: #a3b5c5;
      }
      body {
        width: 900px;
        margin: 0 auto;
        background-color: #dfb780;
        padding: 0 20px 20px 20px;
        border: 5px solid black;
      }
      /*margin: 0 auto; — когда вы устанавливаете два значения для таких свойств как margin или padding, первое значение элемента влияет на верхнюю и нижнюю сторону (делает их 0 в данном случае), и второе 
      значение на левую и правую сторону (здесь, auto является особым значением, которое делит доступное пространство по горизонтали поровну слева и справа).
      padding: 0 20px 20px 20px; — у нас есть четыре значения, установленные для padding, чтобы сделать немного пространства вокруг нашего контента. В этот раз мы не устанавливаем padding на верхней части тела, 
      но делаем 20 пикселей слева, снизу и справа. Значения устанавливаются сверху, справа, снизу, слева, в таком порядке.
      border: 5px solid black; — просто устанавливает сплошную чёрную рамку шириной 5 пикселей со всех сторон тела.*/
      h1 {
        margin: 0;
        padding: 20px 0;
        color: #3d7db9;
        text-shadow: 3px 3px 1px black;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      a {
        font-size: 35px;
        text-align: center;
      }
      label {
        display: block;
        margin: 0.5rem 0;
      }